@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body h1{
    margin: 30px;
}

body{
    background-color: aquamarine;
    background: linear-gradient(to right, #e2e2e2,#6fb2ff  );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.formulario{
    background-color: rgb(127, 168, 255);
    border-radius: 30px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 750px;
    max-width: 100%;
    min-height: 480px;
}

.formulario button{
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 50px;
    font-weight: 600px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.formulario form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.formulario input{
    background-color: #eeee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 10px;
    width: 100%;
    outline: none;
}